.recent-groups {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 3rem; // Espaço entre os grupos e o botão

  .group-card {
      background-color: #afafaf;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      transition: transform 0.3s ease, background-color 0.3s ease;
      cursor: pointer;
      margin-bottom: 1.5rem; // Espaçamento entre os grupos

      &:hover {
          transform: scale(1.05);
          background-color: darken(#afafaf, 10%);
      }

      .group-icon {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-bottom: 10px;
          object-fit: cover; // Garante que a imagem do ícone do grupo seja cortada corretamente
      }

      span {
          word-wrap: break-word;
          text-align: center;
          padding: 0.5rem;
      }
  }
}

p {
  text-align: center;
  color: #777;
  font-size: 1.1rem;
}
