<app-navbar></app-navbar>

<div class="container">
  <div class="left-container">
    <h1>Tópico</h1>

    <!-- Exibe o tópico utilizando o app-topic-card -->
    <div class="topic">
      <app-topic-card *ngIf="topic" [topic]="topic"></app-topic-card>
    </div>

    <h1>Comentários</h1>

    <!-- Exibe os comentários do tópico -->
    <div class="comments">
      <app-comment-container [comments]="comments"></app-comment-container>
    </div>

    <!-- Campo de adicionar comentário, exibido somente se o usuário estiver logado -->
    <div class="add-comment">
      <textarea *ngIf="isLoggedIn" class="comment" placeholder="Adicione um comentário..." [(ngModel)]="newCommentContent"></textarea>
      <button *ngIf="isLoggedIn" (click)="createComment()">Comentar</button>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
  </div>

</div>
