.comment {
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: rgba(4, 76, 244, 0.3) 0px 4px 8px 0px, rgba(4, 76, 244, 0.5) 0px 4px 20px 0px;
  border-radius: 20px;
  margin-bottom: 1rem;

  .comment-author {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .author-photo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #ccc; /* Substitua por uma imagem se tiver */
    }

    .author-name {
      font-size: 1.2rem;
      color: #044CF4;
    }
  }

  .comment-content {
    .description {
      color: #555555;
      font-size: 1rem;
      line-height: 1.5;
    }

    .comment-date {
      color: #777;
      font-size: 0.8rem;
      margin-top: 0.5rem;
    }
  }
}
