// Definindo variáveis para cores
$navbar-bg: #044CF4;
$button-bg: #FBA234;
$button-hover-bg: #e0922d;
$text-color: white;

.navbar {
    background-color: $navbar-bg;
    height: 5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    user-select: none;

    .navbar-logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 20px;
        color: $text-color;
        margin-right: 5rem;
        cursor: pointer;

        .navbar-logo-image {
            width: 40px;
            height: auto;
        }
    }

    .navbar-links {
        display: flex;
        align-items: center; // Alinha o botão "Entrar" com os links
        position: relative;
        flex-grow: 1; // Permite que a navbar-links ocupe o espaço disponível
        justify-content: center; // Centraliza os itens da lista na versão desktop

        .navbar-menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex; // Mantém a flexibilidade na versão desktop
            transition: max-height 0.3s ease;
            overflow: hidden;
            max-height: 100px; // Define um limite para a altura, ajuste conforme necessário

            .link {
                margin: 0 1.5rem; // Espaçamento entre itens
                color: $text-color;
                text-decoration: none;
                font-weight: bold;
                font-size: 20px;
                cursor: pointer;
                transition: transform 0.3s ease-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .profile-icon {
            width: 40px;
            height: 40px;
            margin-left: auto;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }

        .login-btn {
            margin-left: 1rem;
            background-color: $button-bg;
            border: none;
            color: $text-color;
            padding: 0.75rem 1.5rem;
            font-family: 'Nunito';
            font-size: 1rem;
            border-radius: 20px;
            cursor: pointer;
            transition: transform 0.3s ease-out;

            &:hover {
                background-color: $button-hover-bg;
                transform: scale(1.1);
            }
        }

        &.show {
            max-height: none; // Restaura a altura ao abrir o menu
        }
    }

    .hamburger {
        display: none; // Esconde o hamburger por padrão
        flex-direction: column;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 11; // Garante que o hamburger fique acima do menu

        .bar {
            width: 25px;
            height: 3px;
            background-color: $text-color; // Cor das barras do hamburger
            margin: 3px 0; // Espaçamento entre as barras
            transition: all 0.3s ease; // Transição suave para animações
        }
    }

    @media (max-width: 768px) {
        .navbar-links {
            display: none; // Esconde os links na versão mobile
        }

        .hamburger {
            display: flex; // Mostra o hamburger em telas pequenas
        }

        &.active .navbar-links {
            display: flex; // Mostra o menu quando ativo
            flex-direction: column; // Muda a direção para coluna
            align-items: center; // Centraliza os itens
            justify-content: center;
        }

        .navbar-links {
            height: auto; // Esconde o menu em telas pequenas
            width: 100%; // Faz o menu ocupar a largura total
            position: absolute; // Torna o menu absoluto em relação ao navbar
            top: 5rem; // Coloca abaixo da navbar
            left: 0;
            background-color: $navbar-bg; // Cor de fundo do menu
            z-index: 5; // Garante que o menu fique acima de outros elementos
            padding: 1rem 0; // Espaçamento interno no menu
        }

        .navbar-menu {
            flex-direction: column; // Muda a direção do menu para coluna
            width: 100%; // Faz o menu ocupar toda a largura
            align-items: center; // Centraliza os itens

            li {
                margin-bottom: 0.5rem !important; // Aumenta o espaçamento entre os itens
            }
        }

        .login-btn {
            margin: 0.5rem 0 0 0 !important;
            width: auto; // Remove a largura fixa para garantir centralização
            padding: 0.75rem 1.5rem;
            text-align: center;
            align-self: center; // Centraliza o botão em relação aos outros elementos
            display: block; // Garante que o botão se comporte como um bloco para centralizar corretamente
        }
    }
}
