<div class="center-container">
    <div class="container">
        <h2 class="profile">Perfil</h2>
        <div class="profile-photo">
            <img src="https://midias.correiobraziliense.com.br/_midias/jpg/2023/03/06/neymar_2_1024x768-27560987.jpg" alt="">
            <p>Editar foto</p>
        </div>

        <div class="about">
            <h3>Sobre</h3>
            <div class="about-box-container">
                <textarea class="about-box" name="" id="" placeholder="Descreva algo sobre você..."></textarea>
            </div>
        </div>
    </div>
</div>
